* {
    color: #50EEEE;
    animation: rgb 5s infinite;
    animation-timing-function: linear;
}

@keyframes rgb {
    0% {
        color: #50EEEE;   
    }
    33% {
        color: #EE50EE;
    }
    66% {
        color: #EEEE50;
    }
    100% {
        color: #50EEEE;
    }
}
